<div class="columns is-mobile">
    <div class="column is-one-quarter is-offset-one-third">
        <section class="hero">
            <div class="login">
                <h1 class="title is-1  has-text-centered">Sign In</h1>
                <form method="post">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            <input class="input is-normal is-rounded" type="email" placeholder="hello@example.com"
                                name="username" id="username"  required />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input is-normal is-rounded" placeholder="**********"
                                name="password" id="password" type="password" required/>
                        </div>
                    </div>
                    <br />
                        

                    <button class="button is-block is-primary is-medium is-rounded centered" style="width:100%;"type="submit">
                        Sign In
                    </button><br>

                    <a class="button is-block is-primary is-light is-rounded" href="/github">
                        Login with GitHub
                    </a>
                    Need an account? <a href="/register" title="Register">Register</a>
                </form>
            </div>
        </section>
    </div>
</div>
