<section class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
        <p class="title">
            Hello new user! We are so glad that you are joining us!
        </p>
        <p class="subtitle">
            We will not under any circumstances sell your passwords
        </p>
    </div>
    </div>
</section>

<div class="columns is-mobile is-centered">
    <div class="column is-one-quarter ">
        <form  method="post" class="form-horizontal">
            <fieldset><br><br>
                <h2 class="title is-2  has-text-centered">Sign Up </h2>    
                <div class="field">
                    <label class="label" for="username">Username:</label>
                    <div class="control">
                        <input id="username" name="username" type="text" placeholder="email@email.com" class="input "
                            required>

                    </div>
                </div>
                <div class="field">
                    <label class="label" for="password">Password:</label>
                    <div class="control">
                        <input id="password" name="password" type="password" placeholder="PaSsword!1" class="input "
                            required>

                    </div>
                </div>
                <div class="field">
                    <label class="label" for="confirm">Confirm password:</label>
                    <div class="control">
                        <input id="confirm" name="confirm" type="password" placeholder="PaSsword!1" class="input "
                            required>

                    </div>
                </div>
                <div class="container ">
                    <br>
                    <button class="button is-block  is-primary is-medium is-rounded  is-centered" type="submit">
                        Sign Up
                    </button>
                    Already have an account? <a href="/login" title="Login">Sign In</a>


                </div>

            </fieldset>
        </form>

    </div>
</div>

