<footer class="footer" id="footer" style="  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;">
  <div class="content has-text-centered">
    <p>
      <strong>Created by Diana Avanesian</strong> 
    </p>
  </div>
</footer>