<header>

<nav class="navbar is-transparent">
  <div class="navbar-brand ">
    <a class="navbar-item" href="/">
      <img src="/logo111.PNG" alt="Bulma: a modern CSS framework based on Flexbox" height="400px">
    </a>
 
    <div class="navbar-start">
      <a class="navbar-item" href="/news">
        News
      </a>
      {{#if isAuthenticated}}
      <div class="navbar-item">
        <a class="button bd-fat-button is-primary is-light is-outlined navbar-item" href="/list" title="Modal">
          <span>
            My passwords
          </span>
        </a>
      </div>
      {{/if}}

    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">

        <p class="control">

          {{#if isAuthenticated}}

          <a class="button is-primary" href="/logout">
            <span>Sign Out</span>
          </a>
          {{else}}
          <a class="button is-primary" href="/login">
            <span>Sign In</span>
          </a>

          {{/if}}


        </p>
      </div>
    </div>

  </div>
</nav>
</header>