<h1>ADD</h1>

<form method='POST'>
    <fieldset>
        <label for="user">UserID</label>
        <input name="user" id="user" required />
    </fieldset>
        <fieldset>
        <label for="username">User Name</label>
        <input name="username" id="username" required />
    </fieldset>
        <fieldset>
        <label for="password">Password</label>
        <input name="password" id="password" required />
    </fieldset>

    <button>Save</button>
</form>