
<div class="columns is-mobile is-centered">
    <div class="column is-half ">
        <form class="form-horizontal" method='POST'>
            <fieldset>
                <h2 class="title is-2  has-text-centered">Add new password </h2>    
                <div class="field">
                    <label class="label" for="website">Name:</label>
                    <div class="control">
                        <input id="website" name="website" type="text"
                            placeholder="Place here URL or name of the website you creating password for" class="input "
                            required >

                    </div>
                </div>
                <div class="field">
                    <label class="label" for="username">User name:</label>
                    <div class="control">
                        <input id="username" name="username" type="text" placeholder="Place your username here"
                            class="input " required >

                    </div>
                </div>
                <div class="field">
                    <label class="label" for="password">Password:</label>
                    <div class="control">
                        <input id="password" name="password" type="text" placeholder="Place your password here"
                            class="input " required >
                            
                        <p class="help">Click here to generate secure password with the help of FORGET IT</p>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="submitButton"></label>
                    <div class="control">
                        <button id="submitButton" name="submitButton" class="button is-primary">Save</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

