
<form method='POST'>
    <fieldset>
        <label for="user">UserID</label>
        <input name="user" id="user" required value="{{project.userId}}" />
    </fieldset>
        <fieldset>
        <label for="username">User Name</label>
        <input name="username" id="username" required value="{{project.userName}}"/>
    </fieldset>
        <fieldset>
        <label for="password">Password</label>
        <input name="password" id="password" required value="{{project.userPassword}}"/>
    </fieldset>

    <button>Save</button>
</form>